@font-face {
   font-family: 'mega-trans';
   src: url(../fonts/Megatrans-Stamp.otf);
}
@font-face {
   font-family: 'becham-stamp';
   src: url(../fonts/Becham-Stamp.otf);
}
.adminWindow {
   margin: 10px;
   overflow: hidden;
   width: 35%;
   border: 3px solid white;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: lightcyan;
   padding: 20px;
   position: relative;
   box-shadow: 0px 0px 10px 5px lightskyblue;
}
.adminWindow h1 {
   font-family: 'becham-stamp';
   font-size: 17px;
   letter-spacing: 2px;
   color: #0385e3;
}
.adminWindow input {
   border: 2px solid lightblue;
   display: inline-block;
   width: 400px;
   border-radius: 5px;
   padding: 10px;
   color: gray;
   margin-top: 10px;
   margin-left: 5px;
}

.adminWindow button {
   background-color: #4285f4;
   color: white;
   font-size: 15px;
   font-family: Arial, Helvetica, sans-serif;
   padding: 10px 20px;
   border: none;
   border-radius: 15px;
   box-shadow: 0px 0px 3px 1px gray;
}
.adminWindow button:hover {
   box-shadow: 0px 0px 3px 1px lightgreen;
}
.adminWindow button:active {
   background-color: #34a853;
}

.adminWindow label {
   color: #434cd0;
   display: inline-block;
   font-weight: 900;
   width: 80px;
}

.adminWindow input:focus {
   border: 2px solid lightgreen;
   outline: none;
   background-color: lightskyblue;
}

.showMassage {
   position: absolute;
   bottom: 25px;
   right: 20px;
   font-size: 15px;
   font-family: Arial, Helvetica, sans-serif;
   color: #4285f4;
   background-color: lightblue;
   padding: 5px;
   border-radius: 5px;
}
.showMassage::before {
   margin-right: 3px;
   font-size: 15px;
   content: '\1F4BE';
}

.headerWindow {
   width: 100%;
   box-shadow: 0px 0px 10px 5px lightskyblue;
   background-color: lightcyan;
   border-radius: 10px;
   margin: 5px;
   overflow: hidden;
   position: relative;
   z-index: 3;
}
.headerWindow h1 {
   font-family: 'mega-trans';
   font-size: 50px;
   text-align: center;
   font-weight: 800;
   padding: 20px;
}

.headerWindow h1::before {
   display: inline-block;
   content: '';
   width: 350px;
   height: 500px;
   background-image: url('../assets/zero.png');
   background-size: 100% 100%;
   position: absolute;
   z-index: 1;
   left: 30px;
   top: 0;
   animation-name: tepa-past;
   animation-duration: 30s;
   animation-iteration-count: infinite;
}

@keyframes tepa-past {
   0% {
      top: -550px;
   }
   75% {
      top: 550px;
   }
   100% {
      top: 550px;
   }
}
