:root{
  --i:20;
  --clr:blue;
}
.container {
    width: 100%;
    height: 350px;
    max-width: 60%;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.container ol {
  list-style-type: decimal;
  padding: 0;
  margin: 0;
}

.container li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #fff;
  font-weight: 700;
  font-size: 18px;
}

.container li ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container li ul li {
  margin: 5px 0;
}

.container img {
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
}

@font-face {
  font-family: 'Megatrans';
  src: url('../fonts/Megatrans-Stamp.otf') format('opentype');
  font-style: normal;
}

.fontStyle {
  font-family: 'Megatrans', sans-serif;
}

.progress {
  position: relative;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: conic-gradient(
     var(--clr) calc(var(--i) * 1%),
     #444 calc(var(--i) * 1%)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5em;
  color: white;
  z-index: 2;
  font-weight: 500;
}

.progress h3 span {
  font-size: 0.65em;
  font-weight: 400;
}

.progress::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #222;
  border-radius: 50%;
}
